@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
  font-family: "Overused Grotesk";
  src:
    url("/fonts/OverusedGrotesk-VF.woff2") format("woff2 supports variations"),
    url("/fonts/OverusedGrotesk-VF.woff2") format("woff2-variations");
  font-weight: 300 900;
}

html, body {
  font-family: "Overused Grotesk", "Noto Sans KR", sans-serif;
}
